* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.3px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

#select-bar {
    width: 50px;
    background-color: #f3f3ff;
    padding: 5px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;

    font-size: 1rem;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 45px;
    color: black;
}


/* Box 4 */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
}

/* panel 2 */

.panel {
    background-color: #222f3d;
    height: 40px;
    font-size: 1rem;
    align-items: center;
    display: flex;
    color: #f3f3ff;
    justify-content: space-evenly;


}

.panel-ops {
    width: 62%;
    font-size: 0.85rem;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.all {
    color: #f3f3ff;
}

a {
    text-decoration: none;

}

.panel-deals {
    /* align-items: end; */
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero Seciton */

.hero-section {
    background-image: url(hero_image.jpg);
    /* width: 7000px; */
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    display: flex;
    background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 98%;
    margin-bottom: 15px;

}

.hero-message a {
    color: #007181
}

/* Shop Section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;


}

.box-image {
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185
}

/* Footer */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    display: flex;
    background-color: #222f3d;
    color: white;
    height: 400px;
    justify-content: space-evenly;

}
ul p{
    margin-top:25px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3 {
    display: flex;
    background-color: #222f3d;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top: 0.7px solid white;

}
.foot-lang{
    border:1px solid white;
    display: block;
    padding: 3px;
    width: 100px;
    font-size: 1rem;
}
.currency{
    font-size: 1rem;
    margin-left: 3px;
    width: 150px;
    border: 1px solid white;
    padding: 3px;
}
.foot-panel4{
    
    background-color: #0f1111;
    color: white;
    text-align: center;
    height: 70px;
    font-size: 0.7rem;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 4px;
}